<section class="md:w-2/3 p-7 md:p-0 mx-auto">
  <div class="flex flex-col mb-4 space-y-5 bg-white rounded p-5">
    <div class="relative">
      <input
        data-modal-target="authentication-modal"
        data-modal-toggle="authentication-modal"
        type="email"
        id="email"
        name="email"
        placeholder="What's in your mind?"
        class="w-full bg-white border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
  </div>
  <!-- Main modal -->
  <div
    id="authentication-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200"
        >
          <h3 class="text-xl font-semibold text-gray-900">Add New Post</h3>
          <button
            type="button"
            class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
            data-modal-hide="authentication-modal"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <form class="space-y-4" action="#">
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >content</label
              >
              <textarea
                [(ngModel)]="postContent"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="content"
                required
              ></textarea>
            </div>

            <div class="flex items-center justify-center w-full">
              <label
                for="dropzone-file"
                class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50"
              >
                <div
                  class="flex flex-col items-center justify-center pt-5 pb-6"
                >
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-sm text-gray-500">
                    <span class="font-semibold">Click to upload</span> or drag
                    and drop
                  </p>
                  <p class="text-xs text-gray-500">
                    SVG, PNG, JPG or GIF (MAX. 800x400px)
                  </p>
                </div>
                <input
                  (change)="onFileSelect($event)"
                  id="dropzone-file"
                  type="file"
                  class="hidden"
                />
              </label>
            </div>

            <button
              (click)="createPost()"
              type="submit"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              add post
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  @if (allPosts) { @for (post of allPosts.posts; track $index) {
  <article class="flex flex-col space-y-5 bg-white rounded p-5">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <img
          class="w-15 h-15 rounded-full"
          [src]="post.user.photo"
          [alt]="post.user.name"
        />
        <div>
          <h2 class="font-bold">{{ post.user.name }}</h2>
          <p class="text-gray-500">
            {{ post.createdAt | date : "MMMM dd YYYY - hh:mm a" }}
          </p>
        </div>
      </div>
      <div>
        <button aria-label="options">
          <i class="text-gray-500 fa-solid fa-ellipsis cursor-pointer"></i>
        </button>
      </div>
    </div>

    <div>
      <p class="line-clamp-2">
        {{ post.body }}
      </p>
      <button class="cursor-pointer text-blue-600">show more</button>
    </div>

    @if (post.image) {
    <div>
      <img class="w-full rounded" [src]="post.image" alt="post image" />
    </div>
    }

    <div>
      <button #showComments class="cursor-pointer text-blue-600">
        show comments ( {{ post.comments.length }} )
      </button>
    </div>

    @defer (on interaction(showComments) ) {
    <app-comments [post]="post"></app-comments>
    } @placeholder {
    <div class="bg-gray-200 rounded p-3">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <img
            class="w-5 h-5 rounded-full"
            [src]="
              post.comments[0].commentCreator.photo ||
              '/public/images/profile.png'
            "
            [alt]="post.comments[0].commentCreator.name"
          />
          <div class="flex space-x-2 items-center">
            <h2 class="font-bold">
              {{ post.comments[0].commentCreator.name }}
            </h2>
            <p class="text-gray-500">
              {{ post.comments[0].createdAt | date : "MMMM dd YYYY - hh:mm a" }}
            </p>
          </div>
        </div>
        <div>
          <button aria-label="options">
            <i class="text-gray-500 fa-solid fa-ellipsis cursor-pointer"></i>
          </button>
        </div>
      </div>
      <p class="ps-5 my-2 text-gray-500">
        {{ post.comments[0].content }}
      </p>
    </div>
    }

    <app-comments-form [postId]="post.id" [post]="post"></app-comments-form>
  </article>
  } } @if(isLoading) {
  <div class="min-h-[50vh] flex items-center justify-center">
    <div
      style="border-top-color: transparent"
      class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin"
    ></div>
  </div>
  }
</section>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
